<header>
    <div class="navbar bg-primary shadow-sm">

        <div style="padding : 10px 16px" class="navbar-brand align-item-center d-flex">
            <i style="font-size : 40px ; color : white" class="fas fa-shipping-fast">
                &nbsp;
                <strong>
                    EcomShop
                </strong>
            </i>
            <div class="from-group">
                <input type="text" placeholder="search products" class="form-control">
            </div>

        </div>

    </div>
</header>